@{
    ViewBag.Title = "Index";
}
<center>
    <h2>Welcome User</h2>
</center>

        <table border="1" align="center" >
            <tr>
                <td width="180px" align="center"> <a href="/Login/Login">Login as Admin</a> </td>
                <td width="180px" align="center"> <a href="/SalesmanLogin/Login">Login as Salesman</a> </td>
                <td width="180px" align="center"> <a href="/Registration/Register">Request for Account</a> </td>
            </tr>
        </table>
