@{
    ViewBag.Title = "Index";
}
<Center>
<h2>Admin Home</h2>

<table border="1">
    <tr >
        <td width="250px" align="center"><a href="/AccountRequest/Index">Account Requests</a></td>
    </tr> <br>
    <tr>
        <td width="250px" align="center"> <a href="/Accounts/Index">Manage Accounts</a></td>
    </tr> <br>
    <tr >
        <td width="250px" align="center"> <a href="/Product/Index">Manage Products</a></td>
    </tr>
    <tr>
        <td width="250px" align="center"><a href="/Billing/Index">Billing</a></td>
    </tr>  
    <tr>
        <td width="250px" align="center"><a href="/Sales/Index">Sales</a></td>
    </tr>   

    <tr>
        <td width="250px" align="center"><a href="/Password/Index">Change Password</a></td>
    </tr>
    
    <tr>
        <td width="250px" align="center"><a href="/Logout/Index">Logout</a></td>
    </tr>   
</table>
</center>